<h1>Login</h1>

<form method="post">


    <label>Email:</label><br />
    <input type="email" name="correo" />
    <br />

    <label>Password:</label><br />
    <input type="password" name="clave" />
    <br />

    <input type="submit" value="Aceptar" />

</form>
@ViewBag.msg